.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  &:hover {
    cursor: pointer;
    background-color: #000;
    opacity: 0.8;
  }
  .songRow__album {
    height: 60px;
  }
  .songRow__info {
    margin-left: 20px;
    h1 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      margin-top: 3px;
      color: gray;
    }
  }
}
